@import "./shared_style.css";
/*
*{
    box-sizing: border-box;
    border: 0.5px solid black;
    }
*/

#mode-container {
    margin-top: 10px;
}
input[type="radio"] {
    transform: scale(1.5);
}

.content-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

aside {
    width: 40%;
    }

.hero {
    position: sticky;
    top: 0;
    padding-top: 50px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

main {
    width: 55%;
}

.hero picture {
    position: absolute;
    width: auto;
    z-index: -1;
    left: 25%;
    top: 20px;
    background: var(--background-color);
}

.hero img {
    border-radius: 50%;
    width: 100%;
    transform: scale(.75) translateY(-20px);
    min-width: 200px;
    max-width: 250px;
    mix-blend-mode: luminosity;
}

.hero p {
    background: var(--background-color);
    padding: 20px 0;
}

#my-name {
    color: var(--main-text-color);
}

#my-name strong {
    font-size: 1.5em;
    color: orange;
}

#title {
    color: var(--heading-color);
}

strong {
    color: var(--emphasis-color);
}

.hero div p strong {
    color: var(--main-text-color);
}

section {
    margin-bottom: 100px;
}

.section-title {
    text-align: left;
    color: var(--heading-color);
}

.project {
    text-align: center;
}

.project-name {
    color: var(--emphasis-color);
}

.project-details {
    text-align: left;
}

.project picture {
    width: auto;
}

.project img {
    width: 100%;
    max-width: 300px;
    filter: drop-shadow(-6px -6px 2x #1C1C1C);
}

.source-link {
    background: var(--button-color);
    padding: 5px 20px;
    color: var(--button-text-color);
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.source-link:hover {
    transform: translate(0 15px);
    background: var(--button-text-color);
    color: var(--button-color);
}

tbody {
    display: flex;
    flex-wrap: wrap;
}

.category {
    padding: 10px 0 10px 0;
    color: var(--emphasis-color);
}

tr, th {
    display: block;
    text-align: left;
}

tr {
    width: 100%;
}

.skill-container {
    width: 100%;
    border: 1px solid black;
}

td {
    display: inline-block;
    width: 100px;
}


.contact-section {
    height: 100vh;
    margin-bottom: 0;
    position: sticky;
    top: 0;
}

#contact {
    position: sticky;
    top: 0;
    padding-top: 40px;
}

#messageForm {
    max-width: 100%;
}

legend {
    color: var(--emphasis-color);
}

.input-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 0;
}

.input-row:last-child {
    margin: 0;
}

.label {
    max-width: 50%;
}

.input-field {
    max-width: 100%;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    resize: none;
    height: 200px;
    overflow: auto;
}

button {
    width: 100%;
    background: var(--button-color);
    border: none;
    color: var(--button-text-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

button:hover {
    transform: translate(0 15px);
    background: var(--button-text-color);
    color: var(--button-color);
    cursor: pointer;
}

footer {
    text-align: center;
    margin-top: 100px;
}

/*
input:user-invalid {
    background: #FFCCCC;
}
*/

.errorOutput {
    display: none;
    color: red;
    background: white;
    border-radius: 0 0 5px 5px;
    text-align: center;
    transition: calc(current width minus 2px);
}

#notification {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: green;
    font-weight: bold;
    font-size: 1.5em;
    display: none;
}

.invalid {
    background: #FFCCCC;
}


