:root {
    --background-color: #212A3E;
    --main-text-color: #9BA4B5;
    --emphasis-color: #F1F6F9;
    --button-color: #394867;
    --button-text-color: #F1F6F9;
    --heading-color: #fec160;
}

.lightmode {
    --background-color: #DDF2FD;
    --main-text-color: #427D9D;
    --emphasis-color: #164863;
    --button-color: #427D9D;
    --button-text-color: #9BBEC8;
    --heading-color: #fec160; /*dont change*/
}


body {
    font-size: 1rem;
    padding: 0;
    margin: 0 auto;
    padding: 0 5%;
    scroll-behavior: smooth;
    overflow-x: hidden !important;
    height: 100%;
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    color: var(--main-text-color);
}

header-items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    }

#hamburger-menu {
    display: none;
    }

header nav{
    margin-left: auto;
    display: inline-block;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav a {
    text-decoration: none;
    color: var(--main-text-color);
    font-size: 1.2em;
}

nav a:hover {
    color: var(--heading-color);
}

@media screen and (max-width: 600px){
    #hamburger-menu {
        margin-left: auto;
        display: inline-block;
    }

    header nav {
        display: none;
    }
}

h1, h2, h3, h4 {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}